<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>GabrielCorena@outlook.com</AccountUsername>
    <AzureServiceName>WebMVCBAC</AzureServiceName>
    <AzureServiceResourceGroup>PruebaBAC</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/bd52861a-5ae7-4f39-8270-feae43cbc42d/resourceGroups/PruebaBAC/providers/Microsoft.Web/sites/WebMVCBAC</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>bd52861a-5ae7-4f39-8270-feae43cbc42d</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Pago_por_uso</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/bd52861a-5ae7-4f39-8270-feae43cbc42d/resourceGroups/PruebaBAC/providers/Microsoft.Web/sites/WebMVCBAC (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <ProjectGuid>c923d3a2-0a7c-21fc-ed8f-0a7f216e337b</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>src\Ventas.Web</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>1237d638-b92d-41e1-9790-9261ab4abbde</TenantId>
    <WebPublishMethod>Custom</WebPublishMethod>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>